@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    background: #fef7f6;
}
.top-nav a{
    padding-right: 15px;
    color: #000;
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    text-transform:uppercase ;
    position: relative;
}
nav{
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
     font-weight: 800;
     color: #000;
     font-size: 24px;
     text-transform: uppercase;
}
.logo span{
    color:#ff5353 ;
}
nav ul{
    position: relative;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #606163;
    position: relative;
    padding: 3px 0;
}
nav ul li a:before{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom:0;
    left: 0;
    background: #ff5353;
    visibility: visible;
    transform: scaleX(0);
    transition:all 0.3s eae-in-out 0s ;
}
nav ul li a:before{
    visibility:visible;
    transform: scaleX(1);
}
.nav-right a i{
    color: rgb(65, 63,63);
    font-size: 19px;
    font-weight: 400;
    margin-right: 5px;
}
.nav-right a i:hover{
    color: #ff5353;
}
.nav-right .cart{
    position: relative;
}
.nav-right .itemcount{
     position: absolute;
     background-color: #ff5353;
     height: 16px;
     width: 16px;
     border-radius: 50%;
     top: 0px;
     right: 2px;
     color: #fff;
     font-size: 8px;
     font-weight: 400;
     line-height: 16px;
     text-align: center;
}
.banner{
width: 100%;
background: url(img/bg.jpg);
background-size: cover;
background-repeat: no-repeat;
display: flex;
}
.banner2{
    width: 100%;
    background: url(img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    }
.ban-left{
    width: 50%;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
}
.ban-left .tagline{
    color: #565656;
    display: inline-block;
    font-weight: 500;
    line-height: 0.8;
    letter-spacing: 2.8px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.ban-left h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 45px;
}
.btn-default{
    background-color: #ff5353;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    min-width:170px ;
    padding: 20px 25px;
    transition:all0.3s ease-in-out;
}
.btn-default:hover{
    background: #fff;
    color: #ff5353;
}
.ban-right img{
    display: block;
    width: 100%;
    margin: auto;
}
.banner2-content{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 45px;
}
.banner2-img img{
    display: block;
    width: 100%;
    margin: auto;
}
.ban-right img{
    display: block;
    width: 100%;
    height: auto;
}
.featured{
    margin:0 100px;
    padding: 50px 0;
}
.featured h3{
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-thumb{
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.action-links{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms ease;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.product-item:hover .action-links{
    opacity: 1;
    visibility: visible;
}
.action-links .icon{
    background-color: #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
    color:#000;
    display: inline-block;
    font-size: 14px;
    transition: all 300ms ease-in-out;
}
.action-links .icon:hover{
    background: #ff5353;
    color: #fff;
}
.product-item .product-content .product-name{
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-transform: capitalize;
    margin-bottom: 0;
}
.product-item .product-content .product-name a{
    color: #888;
}
.ratings a{
    display: inline-block;
    font-size: 13px;
    color: #ff5353;
}
.product-item .product-content .price{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.banner2{
    display: flex;
    background-color: #fff;
}
.banner2-content{
    width: 50%;
    text-align: center;
    margin-top: 8%;
}
.banner2-content h1{
    font-family: 'dancing script', cursive ;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 58px;
    line-height: 70px;
}
.banner2-content h4{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 1.5rem;
}
.banner2-img{
    width: 50%;
}
.banner2-img img{
    display: block;
    width: 100%;
    height: auto;
}
.product-content{
    
}
